@font-face {
  font-family: 'Space-Mono';
  src: url('./Space-Mono.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdobeHebrew-Bold';
  src: url('./AdobeHebrew-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang SC';
  src: url('./PingFang-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PingFang Bold';
  src: url('./PingFang-SC-Semibold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Perfetto';
  src: url('./Perfetto-2.ttf');
  font-weight: normal;
  font-style: normal;
}